<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/time.css">
    <link rel="stylesheet" href="/icon.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/normal.css">
    <title>Document</title>
    <%- script %>
        <%- style %>
</head>

<body>
    <%- include('partials/header.ejs',{pag:pag}) %>
        <%- body %>

</body>

</html>