.section-title {
    padding: 30px 0;
}

.create-recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

input {
    border-radius: 10px;
}

.input-label {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 5px;
}

input#recipe_title {
    border: 1px solid var(--brown-border);
    display: block;
    width: 100%;
    font-size: 1.8rem;
    padding: 5px;
}


.upload-container {
    display: block;
    text-align: center;
    border: 2px dashed var(--brown-border);
    padding: 20px;
    cursor: pointer;
}

input#recipe_image {
    opacity: 0;
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.fa-upload {
    font-size: 60px;
}

.upload-text {
    font-size: 1.8rem;
}

.upload-text>span {

    color: #D3692B;
}

input#hours,
input#minuts {
    border: 1px solid var(--brown-border);
    font-size: 30px;
    width: 100px;
    padding: 10px;
}

.hours-label,
.minuts-label {
    font-size: 1.4rem;
}

select#category {
    width: 100%;
    font-size: 1.9rem;
    border: 1px solid var(--brown-border);
    cursor: pointer;
}

option {
    background-color: var(--light-beige);
}

.create-category-button {
    cursor: pointer;
    font-size: 1rem;
}

input#category_name {
    border: 1px solid var(--brown-border);
    width: 50%;
    font-size: 1.8rem;
    padding: 5px;
}

.create-category-commit {
    font-size: 1.8rem;
    padding: 3px 10px;
    border: 1px solid var(--brown-border);
    cursor: pointer;
}

.new-category-container {
    display: none;
}

input#ingredient_name {
    border: 1px solid var(--brown-border);
    width: 55%;
    font-size: 1.8rem;
    padding: 5px;
}

.add-new-ingredient {
    font-size: 1.2rem;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid var(--brown-border);
    cursor: pointer;
    background-color: var(--dark-beige);
}

.fa-trash-can {
    margin-left: auto;
    cursor: pointer;
}

.single-ingredient {
    display: flex;
    font-size: 1.5rem;
    padding: 5px;
}

.single-ingredient input {
    font-size: inherit;
}

.add-ingredient-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

ol hr {
    background-color: var(--light-beige);
    height: 2px;
}

.order {
    margin-right: 5px;
}