.user-wrapper {
    width: 30px;
    height: 30px;
    background-color: var(--dark-beige);
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.fa-user {
    color: #3C221A;
}