.preperation-time {
    display: flex;
    align-items: center;
    padding: 0;
}

.time {
    font-size: 1.4rem;
}

.fa-clock {
    font-size: 30px;
    margin: 0;
    padding: 0;
    position: relative;
    left: -5px;
}